

/* hero  */
.hero{
   /* min-width: 575px; card  overlay no puede ajustar el contenido del texto cuando se excede - manual de bootstrap */
   
   height: 500px;
   
}

.hero-card {
max-height: 500px;
}

/* manual y procedimientos  */



.icono-manual-proc{
    font-size: 2.5rem;
}

/* formularios */
.formularios {
height: 600px;
}

/* docs clientes  */

.docs-clientes {
    height: 600px;
}

.carousel-item img {
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    height:50vh;
}


/* pie de pagina  */

footer{
  min-height: 300px;
}

.icono-footer{
    font-size: 4rem;
    
}

.footer-redes-contacto{
    font-size: 3rem;
    
}

/* responsivo  */
@media screen and (max-width: 600px) {

    .table {
    font-size: 0.75rem;
    }
        
    
}
@media screen and (max-width: 575px) {

.hero-card .card-title {
font-size: 1rem;
}
.hero-card p {
    font-size: 0.75rem;
    }
    

}

@media screen and (max-width: 485px) {

    .hero-card .card-title {
    font-size: 0.75rem;
    }

    .hero-card p {
        font-size: 0.5rem;
    }
        
    .table {
    font-size: 0.3rem;
    }
}

